<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Doble Electricidad</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="true">
          <ion-item button routerLink="/invoices"> Facturas </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item button routerLink="/profile"> Datos personales </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
